<html>

<head>
    <link rel="stylesheet" href="/dist/leaflet.css" />
    <style>
        /* #map { height: 860px; width: 1720px; } */
        #map {
            height: 100%;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        img.redicon {
            filter: hue-rotate(120deg)
        }
    </style>
</head>

<body>
    <script src="/bundle.js"></script>
    <h1>Dreadmap</h1>
    <input type="button" value="save" onclick="module.save_markers('artaria');" />
    <div id="map"></div>
    <script>module.init_map()</script>
</body>

</html>